@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(22, 101, 52, 0);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(22, 101, 52, 0.5),
      0 0 8px 4px rgba(22, 101, 52, 0.25);
  }
}

.pulsing-shadow {
  animation: pulse 3s infinite;
}

body {
  color: #2f4c39;
}

h1 {
  font-weight: 600;
  font-size: 1.2rem;
}

h2 {
  font-weight: 600;
}
