@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(39, 182, 94, 0.8);
  }
  40% {
    box-shadow: 0 0 0 8px rgba(39, 182, 94, 0.3),
      0 0 16px 8px rgba(22, 101, 52, 0.15);
  }
  45% {
    box-shadow: 0 0 2px 8px rgba(38, 178, 92, 0.25),
      0 0 20px 12px rgba(22, 101, 52, 0.125);
  }
  60% {
    box-shadow: 0 0 4px 8px rgba(32, 149, 77, 0.2),
      0 0 24px 16px rgba(22, 101, 52, 0.1);
  }
  70% {
    box-shadow: 0 0 6px 8px rgba(32, 149, 77, 0.15),
      0 0 28px 20px rgba(22, 101, 52, 0.075);
  }
  80% {
    box-shadow: 0 0 8px 8px rgba(32, 149, 77, 0.1),
      0 0 32px 24px rgba(22, 101, 52, 0.05);
  }
  85% {
    box-shadow: 0 0 4px 4px rgba(32, 149, 77, 0.05),
      0 0 16px 12px rgba(22, 101, 52, 0.025);
  }
  90% {
    box-shadow: 0 0 0 0 rgba(32, 149, 77, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(32, 149, 77, 0);
  }
}

.pulsing-shadow {
  animation: pulse 5s linear infinite;
}

body {
  color: rgba(255, 255, 255, 0.8);
  background-color: #111113;
}

h1 {
  font-weight: 600;
  font-size: 1.2rem;
}

h2 {
  font-weight: 600;
}

h4 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #86efac;
}

button,
.button {
  display: flex;
  width: fit-content;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 16px;
  border-width: 1px;
  font-weight: 600;
  transition: all 150ms ease-in-out;
}

.icon {
  padding-right: 1.25rem;
}

.primary {
  background-color: #86efac;
  border-color: #4ade80;
  color: #052e16;
}

button:hover {
  opacity: 0.8;
}

input {
  all: unset;
  display: block;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 1px white solid;
  border-radius: 10px;
  margin-top: 4px;
}

label {
  padding-top: 16px;
  display: block;
}
